*{
  margin: 0;
  font-family: Raleway;
}
/* scrollbar*/
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: #900048;
}
/* navegador */
.navegador{
  background: -webkit-linear-gradient(#900048, #5F002F);
  width: 90%;
  height: 60px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
}
.logo{
  background-image: url("../sources/logo_white.png");
  background-size: cover;
  float: left;
  width: 265px;
  height: 60px;
}
.btn_iniciar_sesion_estilo{
  background-color: none;
  float: right;
  text-align: center;
  width: 120px;
  height: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid white;
  outline: none;
  border-radius: 70px;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}
.btn_iniciar_sesion_estilo:hover{
  background-color: white;
  color: #900048;
}
.icono_usuario{
  background-image: url("../sources/user_icon.png");
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  float: right;
}
.panel_iniciar_sesion{
  display: none;

  background: -webkit-linear-gradient(#900048, #5F002F);
  width: 200px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 100px;
  right: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.formulario_iniciar_sesion{
  /*display: none;*/
}
.formulario_iniciar_sesion h1{
  color: white;
  font-size: 20px;
}
.input_estilo{
  width: 90%;
  height: 30px;
  border: 1px solid white;
  border-radius: 100px;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  outline: none;
  font-size: 16px;
}
.btn_estilo{
  background-color: #5F002F;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 100px;
  outline: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}
.btn_estilo:hover{
  background-color: white;
  color: #5F002F;
}
/* Ruta */
.ruta{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 120px;
  padding-bottom: 20px;
}
.slider{}
.circulo{
  display: inline-block;
  background-color: #900048;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.in_circulo{
  background-color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 90px;
}
#hojaUno{
  background-color: #900048;
}
/* panel planificaicon */
.panel_planificacion{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.panel_planificacion h1{
  font-size: 50px;
  color: #900048;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.panel_planificacion h2{
  font-size: 18px;
  color: #900048;
  margin-bottom: 30px;
}
.boxFecha{
  display: inline-block;
  background-color: #900048;
  width: 150px;
  padding-left: 20px;
  padding-right: 5px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  color: white;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.inputFecha{
  display: inline-block;
  background-color: #F4E7ED;
  margin-left: -3px;
  border: 1px solid #900048;
  outline: none;
  width: 180px;
  height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
}
.boxBoton{
  height: 30px;
  padding: 10px;
}
#btnSiguiente{
  float: right;
  width: 150px;
  height: 30px;
  border: 1px solid #900048;
  color: #900048;
  outline: none;
  border-radius: 20px;
  background: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
}
#btnSiguiente:hover{
  background-color: #900048;
  color: white;
}
