/*--------------------------------------Fondo-Web----------------------------------*/
*{
  margin: 0;
    font-family: raleway;
}
/*--------------------------------------Barra Scroll-------------------------------*/
::-webkit-scrollbar{
  width: 7px;
  background-color: #D5D5D5;
}
::-webkit-scrollbar-thumb{
  background-color: #5F002F;
  border-radius: 8px;
}
/*--------------------------------------Navegador----------------------------------*/
.nav{
  background: -webkit-linear-gradient(#900048, #5F002F);
  width: 99%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1%;
  position: fixed;
  display: inline-block;
}
.logo{
  background-image: url("../sources/logo_black.png");
  background-size: cover;
  width: 222px;
  height: 50px;
}

/*----------------------------------------Contenido--------------------------------*/

.contenedor{
    background: -webkit-linear-gradient(#FFFCFD, #EBDCE1);
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 50px;
    margin-top: 8%;/*para que se pueda ver abajo del nav*/
    display: inline-block;
}


.opciones{
    width: 30%;
    background-color: red;
    display: inline-block;
}

.foto{
  width: 150px;
  height: 150px;
  background-color: white;
  margin-top: 20px;
  margin-left: 100px;
  border-radius: 80px;
}

.btn{
  width: 96%;
  background-color: green;
  margin: 6px;
  text-align: center;
  padding: 10px;
}

/*input:hover{
  background-color: yellow;
}*/

/*#btn:hover{
  background-color: yellow;
}*/

.info{
  width: 66%;
  background-color: grey;
  border-style: solid;
  display: inline-block;
  padding: 10px;
  float: right;
}






/*-----------------------------------------Footer----------------------------------*/
.footer{
  background: -webkit-linear-gradient(#FFFCFD, #EBDCE1);
  width: 100%;
  height: 300px;
  padding-bottom: 21.5%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer_box{
  display: inline-block;
  float: left;
  margin-left: 1%;
  width: 15%;
  height: 260px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer_box a{
  text-decoration: none;
  color: #900048;
}
.footer_logo{
  background-image: url("../sources/logo_1.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}