/*--------------------------------------Fondo-Web----------------------------------*/
*{
  margin: 0;
    font-family: raleway;
}
/*--------------------------------------Barra Scroll-------------------------------*/
::-webkit-scrollbar{
  width: 7px;
  background-color: #D5D5D5;
}
::-webkit-scrollbar-thumb{
  background-color: #5F002F;
  border-radius: 8px;
}
/*--------------------------------------Navegador----------------------------------*/
.nav{
  background: -webkit-linear-gradient(#900048, #5F002F);
  width: 99%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1%;
  position: fixed;
  display: inline-block;
}
.logo{
  background-image: url("sources/logo_white.png");
  background-size: cover;
  width: 222px;
  height: 50px;
}

/*----------------------------------------Contenido--------------------------------*/

.contenedor{
    background: -webkit-linear-gradient(#FFFCFD, #EBDCE1);
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 50px;
    margin-top: 8%;/*para que se pueda ver abajo del nav*/
    display: inline-block;
}


.opciones{
    width: 30%;
    background: -webkit-linear-gradient(#FFFCFD, #EBDCE1);
/*    background-color: #5F002F;*/
    border-style:solid;
    border-color: #5F002F;
    border-radius: 20px;
    display: inline-block;
    padding-bottom: 10px;
}

.foto{
    width: 44%;
    height: 150px;
    background-color: white;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 80px;
}

.btn{
    margin-right: 5px;
    width: 90%;
    height: 30px;
    background: none;
    border-radius: 90px;
    color: #900048;
    border: 1px solid #900048;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
}
.btn:hover{
    background-color: #900048;
    color: white;
}

.bt{
    color: #900048;
    text-decoration: none; 
    margin: 20px;
    display: inl
}

.bt:hover{
    background-color: #900048;
    color: white;
}

#cand{
    padding: 2px;
}

.info{
    width: 60%;
    background: #5F002F;
    border-style: solid;
    border-color: #5F002F;
    border-radius: 20px;
    color: white;
    display: inline-block;
    padding: 50px;
    float: right;
}

.tabla-info-user{
    padding:5px; 
    margin:30px;
    width: 80%;
    height: 200px;
    margin-left: 50px;
}

table, th, td {
  border: 1px solid white;
}

.editar-info-user{
    padding:5px; 
    margin:30px;
    width: 80%;
    height: 200px;
    margin-left: 50px;
}

.prueba{
    width: 90%;
    height: 200px;
    background-color: white;
    color: #5F002F;
    margin: 20px;
}



/*-----------------------------------------Footer----------------------------------*/
.footer{
  background: -webkit-linear-gradient(#FFFCFD, #EBDCE1);
  width: 100%;
  height: 300px;
  padding-bottom: 21.5%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer_box{
  display: inline-block;
  float: left;
  margin-left: 1%;
  width: 15%;
  height: 260px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer_box a{
  text-decoration: none;
  color: #900048;
}
.footer_logo{
  background-image: url("sources/logo_1.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}