/*--------------------------------------Fondo-Web----------------------------------*/
*{
  margin: 0;
}
/*--------------------------------------Barra Scroll-------------------------------*/
::-webkit-scrollbar{
  width: 7px;
  background-color: #D5D5D5;
}
::-webkit-scrollbar-thumb{
  background-color: #5F002F;
  border-radius: 8px;
}
/*--------------------------------------Navegador----------------------------------*/
.nav{
  background: -webkit-linear-gradient(#900048, #5F002F);
  width: 99%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1%;
  position: fixed;
  display: inline-block;
}
.logo{
  background-image: url("source/logo_white.png");
  background-size: cover;
  width: 222px;
  height: 50px;
}

/*----------------------------------------Contenido--------------------------------*/

.contenedor{
    background: -webkit-linear-gradient(#FFFCFD, #EBDCE1);
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 50px;
    margin-top: 6%;/*para que se pueda ver abajo del nav*/
    display: inline-block;
}

.opcion{
    width: 50%;
    margin-top: 3%;
    margin: 10px;
}

#btn-opc{
    margin-right: 5px;
    height: 30px;
    background-color: #900048;
    border-radius: 5px;
    color: white;  
}

#btn-opc:hover{
    background-color: white;
    color: #900048;
}

.tabla{
    margin: 20px;
    margin-bottom: 10px;
}

.tabla,td{
    padding: 10px;
}

.extra-1{
    width: 35%;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    background-color: #900048;
    border-radius: 5px;
    color: white;
    display: none;
    float: right;    
}

.uno{
    width: 94%;
    height: 100px;
    background-color: black;
    margin: 5px;
}

.hospedaje{
    width: 60%; 
    margin:20px;
    background-color: white;
    display:none;
}

.comida{
    width: 60%; 
    margin: 20px;
    background-color: white;
    display: none;
}
.actividad{
    width: 60%; 
    margin: 20px;
    background-color: white;
    display: none;
}

#btn-1{
    height: 30px;
    background-color: #900048;
    border-radius: 5px;
    color: white;
    float: right;
    margin-bottom: 10px;
}

#btn-1:hover{
    background-color: white;
    color: #900048;
}


   /* background-color: #900048;*/


/*-----------------------------------------Footer----------------------------------*/
.footer{
  background: -webkit-linear-gradient(#FFFCFD, #EBDCE1);
  width: 100%;
  height: 300px;
  padding-bottom: 21.5%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer_box{
  display: inline-block;
  float: left;
  margin-left: 1%;
  width: 15%;
  height: 260px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer_box a{
  text-decoration: none;
  color: #900048;
}
.footer_logo{
  background-image: url("source/logo_1.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}