/*--------------------------------------Fondo-Web----------------------------------*/
*{
  margin: 0;
}
/*--------------------------------------Barra Scroll-------------------------------*/
::-webkit-scrollbar{
  width: 7px;
  background-color: #D5D5D5;
}
::-webkit-scrollbar-thumb{
  background-color: #5F002F;
  border-radius: 8px;
}
/*--------------------------------------Navegador----------------------------------*/
.nav{
  background: -webkit-linear-gradient(#900048, #5F002F);
  width: 99%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1%;
  position: fixed;
  display: inline-block;
}
.logo{
  background-image: url("source/logo_white.png");
  background-size: cover;
  width: 222px;
  height: 50px;
}

/*----------------------------------------Contenido--------------------------------*/

.contenedor{
    background: -webkit-linear-gradient(#FFFCFD, #EBDCE1);
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 50px;
    display: inline-block;
}

.migas{
    width: 50%;
    height: 40px;
    display: inline-block;
    margin-top: 100px;
}

#cir-3{
    width: 40px;
    height: 40px;
    background-color: #5F002F;
    border-radius: 50%;
    display: inline-block;
}

#cir{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border-color: #5F002F;
    border-style: solid;
}

#linea{
    width: 60px; 
    height: 10px;
    background-color: white;
    display: inline-block;
    margin-bottom: 16px;
    border-style: solid;
    border-color: #900048;
}

#menu-2{
    width: 50%;
    height: 50px;
    font-size: 40px;
}

.opciones{
    width: 100%;
    height: 30%;
    margin-top: 10px;
    margin-left: 20px;
}

#img-1{
  background-image:url("source/res.jpg");
  background-size: cover;
}

#img-2{
  background-image:url("source/pic.jpg");
  background-size: cover;
}

#img-3{
  background-image:url("source/int2.jpg");
  background-size: cover;
}

#img-4{
  background-image:url("source/te.jpg");
  background-size: cover;
}

#img-5{
  background-image:url("source/free-ten.jpg");
  background-size: cover;
}


/*uno en caso de carrussel*/

.box-1{  
    display: inline-block;
    background-color: antiquewhite;
    width: 15%;
    height: 180px;
    box-shadow: 4px 4px 10px black;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
    padding: 1%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    
}

/*dos en caso de carrussel*/

.datos{
    width: 80%;
    margin-top: 1%;
    margin-left: 30px;
}

#st-1{
    width: 30%;
    display: inline-block;
    background-color: white;
    padding: 8px;
    font-size: 20px;
    margin-bottom: 5px;
}

.material-icons{
    float: right;
}

.cont-2{
    margin-top: 10px;
    margin-right: 10%;
}

.filtros{
    width: 95%;
    height: 100px;
    background-color: white; 
    border-style: solid;
    border-color: #900048;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

#icons-2{
    margin-top: 8%;
    margin-left: 10px;
}

#texto{
    font-size: 40px;
    float: left;
}

.muestra{
    display: block;
    background-color:antiquewhite;
    width: 95%;
    height: 170px;
    box-shadow: 4px 4px 10px black;
    cursor: pointer;
    float: right;
    margin-bottom: 15px;
    margin-left: 80px;
    padding: 10px;
}

.foto{
    width: 30%;
    height: 100%;
    background-color: white;
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
}

.descripcion{
    width: 30%;
    height: 100%;
    background-color: white;
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
}

.muestra-precio{
    width: 30%;
    height: 80%;
    background-color: white;
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
}

.precio{
    width: 100%;
    height: 100%;
    background-color: white;
    margin-bottom: 10px;
}

.btn{
    width: 100%;
    height: 25%;
    background-color: #900048;
    border-radius: 5px;
    position: relative;
    bottom: 15px;
    color: white;
}

.btn-2{
    width: 30%;
    height: 50px;
    background-color: #900048;
    border-radius: 5px;
    float: right;
    color: white;
    font-size: 20px;
}

/*-----------------------------------------Footer----------------------------------*/
.footer{
  background: -webkit-linear-gradient(#FFFCFD, #EBDCE1);
  width: 100%;
  height: 300px;
  padding-bottom: 21.5%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer_box{
  display: inline-block;
  float: left;
  margin-left: 1%;
  width: 15%;
  height: 260px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer_box a{
  text-decoration: none;
  color: #900048;
}
.footer_logo{
  background-image: url("source/logo_1.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}